.agents-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.agent {
  text-align: center;
  border: 1px solid rgb(106, 157, 228);
  padding: 0 1rem;
  box-shadow: 3px 3px 3px rgb(106, 157, 228);
  background-color: lightblue;
  opacity: 0.7;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.image {
  max-width: 100%;
  max-height: 100%;
  opacity: 1;
}
