html {
  background-size: cover;
}

.ui-cards {
  -webkit-font-smoothing: antialiased;
  display: grid;
  grid-template-columns: 100% 100% 100%; 
  column-gap: 10px;
  row-gap: 10px;
  width: 260px;
}

.ui-cards img {
  width: auto;
  height: 120px;
  padding: 10px;
  float: right;
  padding-top: 20px;
}

.ui-cards h4{
  font-size: 20px;
  text-transform: capitalize;
  position: absolute;
  padding: 10px;
  align-self: left;
  margin-left: 36px;
}

.ui-cards p {
  padding: 10px;
  position: absolute;
  font-size: 15px;
}

.ui-cards li {
  position: relative;
  font-size: 15px;
  margin-top: -50px;
  list-style-type: none;
  margin-left: -20px;
}

.image {
  width: auto;
  height: 120px;
}

#container{
  background-color: red;
  margin-top: -20px;
  width: 50%;
  margin: 0 auto;

}

.favButton {
  width: 25px;
  height: 25px;
  font-size: 30px;
  position: absolute;
  top: 0;
  right: 0;
  
}